body{
	background-color: #008CBA;
	opacity: 1;
}
.position{
	padding:10px;
	text-align:center;
	opacity: 1;
}	
.positionchange{
	padding:10px;
	text-align:center;
	opacity: 0;
	transition: .4s ease;
	
}
h2{
	text-align:center;
	margin-top: 20%;
}
